.btn,
.btn-lg,
.btn-sm,
.btn-xs {
  border-radius: 0;
  border: 0;
  outline: 0;

  &:active, &:focus {
    outline: 0;
  }
}

.btn-continue {
  float: right;
  background-color: $color-white;
  border: 0px none;
  font-size: 12px;
  top: 15px;
  right: 15px;
  font-weight: 700;
  letter-spacing: 0.04em;
  margin-top: 10px;

  .fa {
    color: $color-blue-primary;
    margin-left: 10px;
  }

  &:active {
    box-shadow: none;

    &:focus {
      outline: 0;
    }
  }
}

.btn-lg.btn-rounded {
  border-radius: 45px
}

.btn-default {
  &:hover, &:focus {
    background-color: $color-blue-primary;
    color: $color-white;
  }

  &:active {
    background-color: $color-blue-alt-primary;
    color: $color-white;
  }
}