ol.list-separator,
ul.list-separator {
  list-style: none;
  padding: 15px 0;

  li {
    border-bottom: 1px dotted lighten($color-gray-alt-light, 12%);
    padding: 15px 0;

    &:first-child {
      border-top: 1px dotted lighten($color-gray-alt-light, 12%);
    }
  }
}

ol.list-titled,
ul.list-titled   {
  list-style: none;
  padding: 15px 0;

  li.list-title {
    font-weight: 700;
    text-transform: capitalize;
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 3px solid lighten($color-gray-alt-light, 12%);
  }
}

ol.list-checklist,
ul.list-checklist {
  list-style: none;
  padding: 15px 0;

  li {
    padding: 0;
    padding-bottom: 10px;

    .glyphicon {
      margin-right: 10px;
    }

    p, a, h1, h2, h3, h4, h5, h6 {
        display: inline-block;
        padding: 0;
        margin: 0;
      }

    &.complete {
      .glyphicon {
        color: $color-green-primary;
      }

      p, a, h1, h2, h3, h4, h5, h6 {
        text-decoration: line-through;
        color: $color-gray-light;
      }
    }

    &.incomplete {
      .glyphicon {
        color: $color-gray-light;
      }
    }

  }
}