#mobile-nav {
  position: relative;
  height: 64px;
  width: 100%;
  background: white;
  margin-bottom: 0px;
  z-index: 99999;
  nav {
    background-color: #EDECE8; //color of bar
    border-color: #000000;
    border: 1px solid transparent;
  }
  .navbar-collapse { //dropdown
    float: right;
    background-color: #f8f8f8; 
    color: #777; 
    a {
      padding-left: 30px;
    }
  }
  .navbar-header {
    float: none;
    margin-left: 15px;
  }
  .ea-logo {
    position: relative;
    top: 17px;
    display: inline-block;
  }
  #nav-links {
    float: none;
  }
}