<%- include ../partials/auth/_header %>

<span class="marketing-heading-bordered">
<%- include ../partials/shared/_mkt_header %>
</span>

<div class="container" id="login">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 loginForm">
      <h1>Welcome back.<br/>Please sign in to your account: </h1>
      <form id="login-form" name="form" ng-app="pc.FormHandler" ng-controller="formHandlerController" ng-submit="onSubmit('/auth/login')" novalidate>
        <div><input type="text" name="email" placeholder="Email Address*" tabindex="1" ng-model="fields.email" pc-validator="required email"></div>
        <div><input type="password" name="password" placeholder="Password*" tabindex="2" ng-model="fields.password" pc-validator="required password passwordLength"></div>
        <div class="forgotPass"><a href="/forgotpassword" tabindex="5">Forgot Your Password? Click here to reset.</a></div>
        <div><button type="submit" class="signInButton" tabindex="3">Sign in</button></div>
      </form>
      <p class="or">or</p>
      <a href="/registration/signup">
        <div class="registerLink" tabindex="4">New user? Create an account.</div>
      </a>
    </div>
  </div>
</div>

<%- include ../partials/shared/_dashboard_footer %>

<%- include ../partials/auth/_footer %>