
<div class="user-header clearfix hidden-xs">
  <ul class="user-header-left">
    <li class="user-header-item">
      <a ui-sref="dashboard">
        <img src="/assets/images/procur.png" class="procur-logo" />
      </a>

    </li>

    <li class="user-header-item">
      <a href="https://procur.com/earlyaccess" class="early-access">Early Access</a>
    </li>

    <li class="user-header-item">
      <p class="text-lowercase">{{user.firstName}} {{user.lastName}}</p>
      <p>·</p>
      <p>{{company.name}}</p>
    </li>
  </ul>

  <ul class="user-header-right">
    <li class="user-header-item" ng-if="company.buyer && company.supplier" >
      <button class="btn btn-link buyer-supplier-switch" ng-click="user.toggleActiveMode()">
        Currently in {{user.activeMode}} mode
        <i class="glyphicon glyphicon-transfer"></i>
        Switch to {{user.inactiveMode}}
      </button>
    </li>

    <li class="user-header-item">
      <a ui-sref="dashboard">
        <i class="glyphicon glyphicon-log-out"></i>
        Logout
      </a>
    </li>
  </ul>

</div>

<div id="mobile-dash-nav" class="hidden-sm hidden-md hidden-lg"> <!-- Mobile -->
  <nav class="navbar navbar-default" role="navigation" style="background-color: #EDECE8;">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-links">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="ea-logo">
        <a class="logo-image logo-mobile" id="mobile-fix" href="/"><img src="/assets/images/procur.png" /></a>
        <a href="https://procur.com/earlyaccess" class="early-access logo-mobile">Early Access</a>
        </div>
      </div>
    </div>
    <div class="collapse navbar-collapse" style="background-color: #f8f8f8;" id="nav-links">
      <ul class="nav navbar-nav navbar-right">
        <li pc-nav="fdf"><a ui-sref="dashboard">Dashboard</a></li>
        <li pc-nav="dfd"><a ui-sref="fdf">View Company Profile</a></li>
        <li pc-nav="gg"><a ui-sref="edit_company_profile.company_details">Edit Company Profile</a></li>
        <li pc-nav="dfd"><a ui-sref="user_account_settings.update_settings">User Account Settings</a></li>
        <li class="divider"></li>
        <li class="divider"></li>
        <li><a ui-sref="dashboard">LOGOUT</a></li>
      </ul>
    </div>
  </div>
</nav>


<nav class="navbar navbar-default hidden-xs" role="navigation">
  <div class="container-fluid">
    <div class="collapse navbar-collapse hidden-sm hidden-md hidden-lg">
      <ul class="nav navbar-nav navbar-right">
        <li pc-nav="dashboard"><a ui-sref="dashboard">Dashboard</a></li>
        <li pc-nav="dfd"><a ui-sref="fdf">View Company Profile</a></li>
        <li pc-nav="edit_company_profile"><a ui-sref="edit_company_profile.company_details">Edit Company Profile</a></li>
        <li pc-nav="user_account_settings"><a ui-sref="user_account_settings.update_settings">User Account Settings</a></li>
      </ul>
    </div>

    <div class="navbar-header">
      <span class="navbar-brand">My Procur:</span>
    </div>
  </div>
</nav>





