

.user-header {
  background-color: $color-tan-alt-primary;
  padding: 0;
  margin: 0;

  .user-header-left {
    float: left;
    margin: 0;

    .user-header-item {

      a {
        &.early-access {
          background-color: #fff;
          padding: 5px 10px;
          text-transform: uppercase;
          border-radius: 4px;
          color: $color-gray-primary;
          font-size: 9px;
          font-weight: bold;

          &:hover, &:focus, &:active {
            text-decoration: none;
            background-color: darken($color-white, 1%);
          }
        }

        .procur-logo {
          height: 22px;
          margin-top: 6px;
        }
      }
    }
  }

  .user-header-right {
    float: right;
    margin: 0;
    padding-right: 40px;

    .user-header-item {
      .buyer-supplier-switch {
        text-transform: uppercase;
        font-weight: bold;

        &:hover {
          i {
            color: $color-green-primary;
          }
        }
      }
    }
  }

  .user-header-item {
    display: inline-block;
    margin-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;

    &:last-child {
      margin-right: 0;
    }

    a, .btn-link {
      display: inline-block;
      vertical-align: middle;
      text-transform: lowercase;
      color: $color-gray-primary;
      padding: 0;

      i {
        color: $color-gray-primary;
      }

      &:hover, &:active, &:focus {
        color: $color-orange-primary;

        i {
          color: $color-orange-primary;
        }
      }
    }

    p {
      display: inline;
      margin-right: 6px;
      vertical-align: middle;
    }
  }
}



.navbar-default {
  background-color: $color-gray-alt-dark;
  border: none;
  border-radius: 0;

  .navbar-header {
    float: right;

    .navbar-brand {
      color: $color-white;
      text-transform: uppercase;
      font-weight: 400;
      font-family: Montserrat,sans-serif;
      font-size: 14px;

    }
  }

  .navbar-collapse {
    float: right;

    .navbar-nav {
      li {
        a {
          color: $color-gray-alt-light;
          font-weight: 200;
          font-family: 'Open Sans',sans-serif;
        }

        &.active {
          a {
            background-color: $color-gray-dark;
            color: $color-white;
          }
        }

        &.active:hover {
          a {
            background-color: $color-gray-dark;
            color: $color-white;
          }
        }

        &:hover {
          a {
            color: $color-white;
          }
        }
      }
    }
  }
}


