.company-profile {

  .company-header {
    border-bottom: 3px solid #e6e7e8;
    height: 60px;
    h2 {
      font-weight: 700;
      font-size: 10px;
      margin: 0;
      padding: 0;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      margin-top: 20px;
      span {
        font-family: Montserrat,sans-serif;
      }
    }
    h1 {
      font-family: Montserrat,sans-serif;
      font-size: 18px;
      margin: 0;
      padding: 0;
      font-weight: 300;
    }
  }

  .info-title {
    font-family: Montserrat,sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    color: #231F20;
    margin-left: 10px;
    letter-spacing: 0.05em;
  }

  .company-info-box {

    h3 {
      font-family: Montserrat,sans-serif;
      font-weight: 700;
      font-size: 24px;
      margin-top: 20px;
      margin-bottom: 10px;
      padding: 0;
      padding-bottom: 10px;
      border-bottom: 2px dotted #e6e7e8;
    }
    p {
      font-family: Roboto,sans-serif;
      font-weight: 300;
      font-size: 14px;
      letter-spacing: 0.05em;
      line-height: 1.43;
    }
    .fa {
      font-size: 17px;
    }
    a {
      color: #fbac27;
    }
  }

  .company-info-box.company-business-address{
    p {
      margin: 0;
    }
  }

  .company-detail-box {
    h3 {
      text-transform: uppercase;
      font-size: 14px;
      color: #231f20;
      letter-spacing: 0.05em;
      font-family: Montserrat,sans-serif;
      font-weight: 700;
      padding-bottom: 10px;
      margin-bottom: 20px;
      border-bottom: 3px solid #e6e7e8;
      span {
        font-family: Montserrat,sans-serif;
      }
    }

    p {
      margin-top: 5px;
      font-weight: 600;
      font-size: 14px;
      letter-spacing: 0.01em;
      font-family: Roboto,sans-serif;
    }
    .company-col-left {
      padding: 0;
    }
    .company-col-right {
      padding: 0;
    }
    .detail-header {
      font-size: 11px;
      font-weight: 600;
      color: #7f7f7f;
      font-family: Roboto,sans-serif;
      letter-spacing: 0.05em;
      margin-bottom: 0;
    }
    .detail-body {
      font-size: 14px;
      font-weight: 300;
      font-family: Roboto,sans-serif;
      letter-spacing: 0.05em;
      margin-top: 0;
      margin-bottom: 0;
    }
    a {
      color: #fbac27;
    }
    .company-col-detail {
      margin-bottom: 20px;
    }
  }
  .nav-left {
    float: left;
    font-weight: 500;
  }
  .nav-right {
    li {
      a {
        font-weight: 500;
      }
      margin-left: 10px;
    }
    float: right;
  }
  .profile-nav {
    border-bottom: 3px solid #e6e7e8;
    height: 32px;
  }
  .profile-nav li {
    display: inline;
    text-transform: uppercase;
    font-size: 14px;

  }
  .hint {
    margin-top: 10px;
    text-transform: uppercase;
    font-family: Montserrat,sans-serif;
    font-size: 12px;
    a {
      color: #fbac27;
      font-weight: 300;
      font-family: Montserrat,sans-serif;
      display: inline;
    }
  }
  img {
    width: 100%;
  }
}
