node_modules/
.DS_Store
.sass-cache/
spec/reports/
*.swp
log/
tmp/
assets/stylesheets/styles.css
assets/javascripts/app.js
assets/javascripts/app/templates_module.js
assets/javascripts/components.js
public/*
