node_modules/
.DS_Store
.sass-cache/
spec/reports/
*.swp
assets/stylesheets/styles.css
assets/javascripts/app.js
assets/javascripts/app/templates_module.js
assets/javascripts/app/components.js
dist/*
