
<div class="user-header clearfix hidden-xs">
  <ul class="user-header-left">
    <li class="user-header-item">
      <a ui-sref="dashboard">
        <img src="/images/procur.png" class="procur-logo" />
      </a>

    </li>

    <li class="user-header-item">
      <a href="https://procur.com/earlyaccess" class="early-access">Early Access</a>
    </li>

    <li class="user-header-item">
      <p class="text-lowercase">{{user.get('firstName')}} {{user.get('lastName')}}</p>
      <p>·</p>
      <p>{{company.get('name')}}</p>
    </li>
  </ul>

  <ul class="user-header-right">
    <li class="user-header-item" ng-if="company.isBoth()" >
      <button class="btn btn-link buyer-supplier-switch" ng-click="user.toggleActiveMode()">
        Currently in {{user.get('activeMode')}} mode
        <span class="fa fa-exchange"></span>
        Switch to {{user.get('inactiveMode')}}
      </button>
    </li>

    <li class="user-header-item">
      <a ui-sref="dashboard">
        <span class="fa fa-sign-out"></span>
        Logout
      </a>
    </li>
  </ul>

</div>

<div id="mobile-nav" class="mobile-header hidden-sm hidden-md hidden-lg"> <!-- Mobile -->
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-links">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="ea-logo">
        <a class="logo-image logo-mobile" id="mobile-fix" href="/"><img src="/images/procur.png" /></a>
        <a href="https://procur.com/earlyaccess" class="early-access logo-mobile">Early Access</a>
        </div>
      </div>

    <div class="collapse navbar-collapse" id="nav-links">
      <ul class="nav navbar-nav navbar-right">
        <li pc-nav="fdf"><a ui-sref="dashboard">Dashboard</a></li>
        <li pc-nav="dfd"><a ui-sref="view_company_profile.view_company_description">View Company Profile</a></li>
        <li pc-nav="gg"><a ui-sref="edit_company_profile.company_details">Edit Company Profile</a></li>
        <li pc-nav="dfd"><a ui-sref="user_account_settings.update_settings">User Account Settings</a></li>
        <li class="divider"></li>
        <li class="divider"></li>
        <li><a ui-sref="dashboard">LOGOUT</a></li>
      </ul>
    </div>
    </div>

</nav>
</div>


<nav  class="navbar navbar-default hidden-xs" role="navigation">
  <div class="container-fluid">
    <div id="dash-nav" class="collapse navbar-collapse hidden-sm hidden-md hidden-lg">
      <ul class="nav navbar-nav navbar-right">
        <li pc-nav="dashboard"><a ui-sref="dashboard">Dashboard</a></li>
        <li pc-nav="dfd"><a ui-sref="view_company_profile.view_company_description">View Company Profile</a></li>
        <li pc-nav="edit_company_profile"><a ui-sref="edit_company_profile.company_details">Edit Company Profile</a></li>
        <li pc-nav="user_account_settings"><a ui-sref="user_account_settings.update_settings">User Account Settings</a></li>
      </ul>
    </div>

    <div class="navbar-header">
      <span class="navbar-brand">My Procur:</span>
    </div>
</nav>
