<div class="container">
  <nav class="navbar registration" role="navigation">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <img src="/assets/images/procur.png" class="procur-logo" />
      </div>


      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <span class="early-access">Early Access</span>
          </li>
          <li><h6>Account Registration</h6></li>
        </ul>
      </div>
    </div>
  </nav>
</div>