.edit-company-descriptions {
  textarea {
    width: 100%;
    resize: none;
    padding: 10px;
  }
}

.edit-social-media {

  .input-group {
    background: #FFF;
    width: 300px;
  }

  .input-group-addon {
    background: #FFF;
    float: left;
    border: none;
  }

  input {
    background: #FFF;
    width: auto;
  }

}