<div id="user_account_settings">

  <div class="row main-row">
    <div class="col-sm-4">
      <ul class="nav-panel">
        <li pc-nav="update_settings">
          <a ui-sref="user_account_settings.update_settings">
            <div class="left-icon">
              <i class="fa fa-cog"></i>
            </div>
            <h6>Update settings</h6>
          </a>
        </li>
        <li pc-nav="update_password">
          <a ui-sref="user_account_settings.update_password">
            <div class="left-icon">
              <i class="fa fa-lock"></i>
            </div>
            <h6>Change password</h6>
          </a>
        </li>
      </ul>
    </div>
    <div ui-view></div>
  </div>
</div>