<!doctype html>
<html lang="en" ng-app="pc.Main">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Procur</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/stylesheets/styles.css">
  </head>
  <body>
    <div ui-view="header"></div>
    <div class='container'>
      <div ui-view></div>
    </div>


    <script>
      var
        pc = window.pc = window.pc || {};

      pc.localData = {
        user: {
          "firstName": "bruce",
          "lastName": "wayne",
          "email": "notBatman@wayne.com",
          "emailVerified": true,
          "profileComplete": false,
          "active": true,
          "activeMode": "supplier",
          "image": "http://static.comicvine.com/uploads/original/11116/111164870/3842465-1216439145-batma.png",
          "createdAt": "2014-08-07T02:15:42.447Z",
          "updatedAt": "2014-08-12T04:35:40.447Z",
          "jobTitle": "philanthropist"
        },
        company:  {
          "active": true,
          "buyer": true,
          "supplier": true,
          "name": "wayne enterprises",
          "createdAt": "2014-08-07T02:15:42.447Z",
          "email": "info@wayne.com",
          "employeeCount": "11 - 50",
          "website": "http://www.wayneenterprises.com",
          "industry": "technology",
          "faxCountryCode": "1",
          "faxExtension": "",
          "faxNumber": "5555555555",
          "phoneExtension": "",
          "phoneNumber": "4048499521",
          "phoneNumberCountryCode": "1"
        },
        buyer: {
          "contact": {
            "name": "Iam Developer",
            "position": "Purchasing Manager",
            "email": "ideveloper@acme.com",
          },
          "createdAt": "2014-07-12T17:35:20.780Z",
          "updatedAt": "2014-07-12T17:35:21.314Z",
          "company": "53c16e2b186bbc0800ff2c03",
          "companyType": "Association",
          "dba": "ACME Systems",
          "logo": "53c16e2b186bbc0800edcd",
          "duns": "123489589",
          "acceptedCurrencies": [ "USD" ],
          "acceptedPaymentTerms": [ "MoneyGram" ],
          "active": true,
          "tradePreferences": {
              "preferredSupplierLanguage": "Chinese (Jin)",
              "preferredSupplierLocation": "Algeria",
              "preferredSupplierType": "Affiliate Merchant"
          },
          "languages": [ "Chinese (Cantonese)" ],
          "locations": [ "53c16e2b186bbc3400ff2c60" ],
          "socialMedia": {
              "facebook": "100000126516331",
              "google+": "+ACMESystems",
              "instagram": "ACMEPhotos",
              "linkedIn": "acmesystems",
              "pinterest": "acmepins",
              "twitter": "@acmesystems",
              "tumblr": "ACMESystems"
          },
          "profileLink": {
              "title": "Supplier Trade Kit",
              "url": "https://www.acme.com/supplierkit.html"
          },
          "companyDescription": "Lorem ipsum...",
          "productDescription": "Ipsum lorem...",
          "assets": [ "241b530a1fc356bf826c7589610cb928" ],
          "photos": [ "bd8a7c51fcb4f9c3391e59e0c4efaf39" ],
          "responsibilityStatements": {
              "environmentalSustainability": "Lorem ipsum...",
              "qualitySourcing": "Lorem ipsum...",
              "workplaceSafety": "Lorem ipsum...",
              "laborEducationTraining": "Lorem ipsum...",
              "reinvestment": "Lorem ipsum..."
          },
          "productCategories": [

          ]
        },
        supplier: {
          "contact": {
            "name": "Iam Developer",
            "position": "Purchasing Manager",
            "email": "ideveloper@acme.com",
          },
          "createdAt": "2014-07-12T17:35:20.780Z",
          "updatedAt": "2014-07-12T17:35:21.314Z",
          "company": "53c16e2b186bbc0800ff2c03",
          "companyType": "Association",
          "dba": "ACME Systems",
          "logo": "53c16e2b186bbc0800edcd",
          "duns": "123489589",
          "acceptedCurrencies": [ "USD" ],
          "acceptedPaymentTerms": [ "MoneyGram" ],
          "active": true,
          "tradePreferences": {
              "preferredBuyerLanguage": "Chinese (Jin)",
              "preferredBuyerLocation": "Algeria",
              "preferredBuyerType": "Affiliate Merchant"
          },
          "languages": [ "Chinese (Cantonese)" ],
          "locations": [ "53c16e2b186bbc3400ff2c60" ],
          "socialMedia": {
              "facebook": "100000126516331",
              "google+": "+ACMESystems",
              "instagram": "ACMEPhotos",
              "linkedIn": "acmesystems",
              "pinterest": "acmepins",
              "twitter": "@acmesystems",
              "tumblr": "ACMESystems"
          },
          "profileLink": {
              "title": "Supplier Trade Kit",
              "url": "https://www.acme.com/supplierkit.html"
          },
          "companyDescription": "Lorem ipsum...",
          "productDescription": "Ipsum lorem...",
          "assets": [ "241b530a1fc356bf826c7589610cb928" ],
          "photos": [ "bd8a7c51fcb4f9c3391e59e0c4efaf39" ],
          "responsibilityStatements": {
              "environmentalSustainability": "Lorem ipsum...",
              "qualitySourcing": "Lorem ipsum...",
              "workplaceSafety": "Lorem ipsum...",
              "laborEducationTraining": "Lorem ipsum...",
              "reinvestment": "Lorem ipsum..."
          }
        }
      };
    </script>
    <script src="/assets/javascripts/components.js"></script>
    <script src="/assets/javascripts/app.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  </body>
</html>