<!doctype html>
<html lang="en" ng-app="pc.Main">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Procur</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/stylesheets/styles.css">
  </head>
  <body>
    <div pc-user-header></div>
    <div ng-include="'nav.html'"></div>
    <div class='container'>
      <div ui-view></div>
    </div>

    <script src="/assets/javascripts/components.js"></script>
    <script src="/assets/javascripts/app.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  </body>
</html>