
<div class="row company-profile" ng-controller = 'viewCompanyProfileController'>
  <div class="col-sm-12 col-md-4">
    <!--IMAGE PLACEHOLDER-->
    <img ng-src="{{user.image}}"/>
    <div class="company-header">
      <h2>
        <span>{{user.activeMode}} profile</span>
      </h2>
      <h1>{{company.name}}</h1>
    </div>

    <div ng-if='company.phoneExtension === "trey"'>
    <p>shut up!!!</p>
    </div>


    <div class="company-info-box company-business-address" ng-if="location.showHq === false">
      <h3>
        <span class="fa fa-map-marker"></span>
        <span class="info-title">Official Business Address</span>
      </h3>
      <p ng-if="location.companyIsHq.addressLine1 !== false">{{location.companyIsHq.addressLine1}}</p>
      <p ng-if="location.companyIsHq.addressLine2 !== undefined">{{location.companyIsHq.addressLine2}}</p>
      <p ng-if="location.companyIsHq.city !== undefined">{{location.companyIsHq.city}}</p>
      <p ng-if="location.companyIsHq.province !== undefined">{{location.companyIsHq.province}}</p>
      <p ng-if="location.companyIsHq.country !== undefined">{{location.companyIsHq.country}}</p>
    </div>
    <div class="company-info-box company-business-address" ng-if="location.showHq === true">
      <h3>
        <span class="glyphicon glyphicon-map-marker"></span>
        <span class="info-title">Official Business Address</span>
      </h3>
      <p ng-if="location.companyNotHq.addressLine1 !== undefined">{{location.companyIsHq.addressLine1}}</p>
      <p ng-if="location.companyNotHq.addressLine2 !== undefined">{{location.companyIsHq.addressLine2}}</p>
      <p ng-if="location.companyNotHq.city !== undefined">{{location.companyIsHq.city}}</p>
      <p ng-if="location.companyNotHq.province !== undefined">{{location.companyIsHq.province}}</p>
      <p ng-if="location.companyNotHq.country !== undefined">{{location.companyIsHq.country}}</p>
      <h3>
        <span class="glyphicon glyphicon-map-marker"></span>
        <span class="info-title">Headquarters</span>
      </h3>
      <p ng-if="location.companyIsHq.addressLine1 !== undefined">{{location.companyIsHq.addressLine1}}</p>
      <p ng-if="location.companyIsHq.addressLine2 !== undefined">{{location.companyIsHq.addressLine2}}</p>
      <p ng-if="location.companyIsHq.city !== undefined">{{location.companyIsHq.city}}</p>
      <p ng-if="location.companyIsHq.province !== undefined">{{location.companyIsHq.province}}</p>
      <p ng-if="location.companyIsHq.country !== undefined">{{location.companyIsHq.country}}</p>
    </div>
    <div class="company-info-box">
      <h3>
        <span class="fa fa-phone"></span>
        <span class="info-title">Company Phone &amp; Fax</span>
      </h3>
      <p ng-if="company.phoneNumber !== undefined">Telephone: <span ng-if="company.phoneExtension !== undefined">+{{company.phoneExtension}}</span> {{company.phoneNumber}}</p>
      <p ng-if="company.faxExtension && company.faxNumber !== undefined">Fax: +{{company.faxExtension}} {{company.faxNumber}}</p>
      <p ng-if="company.faxNumber !==undefined"> Fax: {{company.faxNumber}}</p>
    </div>
    <div class="company-info-box">
      <h3>
        <span class="fa fa-send"></span>
        <span class="info-title"> Company Email Address </span>
      </h3>
      <p>{{company.email}}</p>
    </div>
    <div class="company-info-box">
      <h3>
        <span class="fa fa-globe"></span>
        <span class="info-title"> Company Website </span>
      </h3>
      <a href="{{company.website}}">{{company.website}}</a>
    </div>
    <div class="company-detail-box">
      <h3>
        <span>Product Categories</span>
      </h3>
      <p>TODO</p>
    </div>
    <div class="company-detail-box company-two-col-box">
      <h3>
        <span>{{user.activeMode}} details</span>
      </h3>
      <div class="col-xs-12 col-sm-6 company-col-left">
        <div class="company-col-detail">
          <p class="detail-header">Type of Company</p>
          <p class="detail-body">TODO</p>
        </div>
        <div class="company-col-detail">
          <p class="detail-header">Total # of Employees</p>
          <p class="detail-body">{{company.employeeCount}}</p>
        </div>
        <div class="company-col-detail">
          <p class="detail-header">Industry</p>
          <p class="detail-body">{{company.industry}}</p>
        </div>
        <div class="company-col-detail">
          <p class="detail-header">Languages</p>
          <p class="detail-body">TODO</p>
        </div>
        <div class="company-col-detail">
          <p class="detail-header">DUNS Number</p>
          <p class="detail-body">TODO</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 company-col-right">
        <div class="company-col-detail">
          <p class="detail-header">Links</p>
          <a href="{{company.website}}">Our Website</a>
        </div>
      </div>
    </div>



  </div>
  <div class="col-sm-12 col-md-7 col-lg-8 pull-right hidden-xs">
    <div class="profile-nav">
      <ul>
        <div class="nav-left">
          <li>About</li>
        </div>
        <div class="nav-right">
          <li><a ui-sref="view_company_profile.view_company_description">Company Descriptions</a></li>
          <li><a ui-sref="view_company_profile.view-company_interests">Products of Interest</a></li>
        </div>
      </ul>
    </div>
    <div ui-view></div>
  </div>
</div>
