
<div class="row company-profile">
  <div class="col-sm-12 col-md-4">
    <!--IMAGE PLACEHOLDER-->
    <div class="company-header">
      <h2>
        <span>{{user.activeMode}} profile</span>
      </h2>
      <h1>{{company.name}}</h1>
    </div>
    <div class="company-info-box company-business-address">
      <h3>
        <span class="fa fa-map-marker"></span>
        <span class="info-title">Official Business Address</span>
      </h3>
      <p>TODO</p>
      <p>TODO</p>
      <p>TODO</p>
      <p>TODO</p>
    </div>
    <div class="company-info-box">
      <h3>
        <span class="fa fa-phone"></span>
        <span class="info-title">Company Phone &amp; Fax</span>
      </h3>
      <p>Telephone: {{company.phoneNumber}}</p>
    </div>
    <div class="company-info-box">
      <h3>
        <span class="fa fa-send"></span>
        <span class="info-title"> Company Email Address </span>
      </h3>
      <p>{{company.email}}</p>
    </div>
    <div class="company-info-box">
      <h3>
        <span class="fa fa-globe"></span>
        <span class="info-title"> Company Website </span>
      </h3>
      <a href="{{company.website}}">{{company.website}}</a>
    </div>
    <div class="company-detail-box">
      <h3>
        <span>Product Categories</span>
      </h3>
      <p>TODO</p>
    </div>
    <div class="company-detail-box company-two-col-box">
      <h3>
        <span>{{user.activeMode}} details</span>
      </h3>
      <div class="col-xs-12 col-sm-6 company-col-left">
        <div class="company-col-detail">
          <p class="detail-header">Type of Company</p>
          <p class="detail-body">TODO</p>
        </div>
        <div class="company-col-detail">
          <p class="detail-header">Total # of Employees</p>
          <p class="detail-body">{{company.employeeCount}}</p>
        </div>
        <div class="company-col-detail">
          <p class="detail-header">Industry</p>
          <p class="detail-body">{{company.industry}}</p>
        </div>
        <div class="company-col-detail">
          <p class="detail-header">Languages</p>
          <p class="detail-body">TODO</p>
        </div>
        <div class="company-col-detail">
          <p class="detail-header">DUNS Number</p>
          <p class="detail-body">TODO</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 company-col-right">
        <div class="company-col-detail">
          <p class="detail-header">Links</p>
          <a href="{{company.website}}">Our Website</a>
        </div>
      </div>
    </div>



  </div>
  <div class="col-sm-12 col-md-7 col-lg-8 pull-right hidden-xs">
    <div class="profile-nav">
      <ul>
        <div class="nav-left">
          <li>About</li>
        </div>
        <div class="nav-right">
          <li><a ui-sref="view_company_profile.view_company_description">Company Descriptions</a></li>
          <li><a ui-sref="view_company_profile.view-company_interests">Products of Interest</a></li>
        </div>
      </ul>
    </div>
    <div ui-view></div>
  </div>
</div>
