
<div class="row company-profile" ng-controller = 'viewCompanyProfileController'>
  <div class="col-sm-12 col-md-4">
    <!--IMAGE PLACEHOLDER-->
    <img ng-src="{{user.image}}"/>
    <div class="company-header">
      <h2>
        <span>{{user.activeMode}} profile</span>
      </h2>
      <h1>{{company.name}}</h1>
    </div>


    <div class="company-info-box company-business-address" ng-if="!location.showHq">
      <h3>
        <span class="fa fa-map-marker"></span>
        <span class="info-title">Official Business Address</span>
      </h3>
      <div ng-repeat="item in actionItems track by $index" ng-class="{complete: item.complete, incomplete: !item.complete}">
        <div ng-if="item.complete">
          <p>{{item.action}}</p>
        </div>
      </div>
    </div>
    <div class="company-info-box company-business-address" ng-if="location.showHq">
      <h3>
        <span class="glyphicon glyphicon-map-marker"></span>
        <span class="info-title">Official Business Address</span>
      </h3>
      <div ng-repeat="item in actionItems track by $index" ng-class="{complete: item.complete, incomplete: !item.complete}">
        <div ng-if="item.complete">
          <p>{{item.action}}</p>
        </div>
      </div>
      <h3>
        <span class="glyphicon glyphicon-map-marker"></span>
        <span class="info-title">Headquarters</span>
      </h3>
      <div ng-repeat="item in actionItems track by $index" ng-class="{complete: item.completeNotHq, incomplete: !item.completeNotHq}">
        <div ng-if="item.complete">
          <p>{{item.action}}</p>
        </div>
      </div>
    </div>


    <div class="company-info-box">
      <h3>
        <span class="fa fa-phone"></span>
        <span class="info-title">Company Phone &amp; Fax</span>
      </h3>
      <p ng-if="company.phoneNumber">Telephone: <span ng-if="company.phoneExtension">+{{company.phoneExtension}}</span> {{company.phoneNumber}}</p>
      <p ng-if="company.faxNumber"> Fax: <span ng-if="company.faxExtension">+{{company.faxExtension}}</span> {{company.faxNumber}}</p>
    </div>
    <div class="company-info-box">
      <h3>
        <span class="fa fa-send"></span>
        <span class="info-title"> Company Email Address </span>
      </h3>
      <p>{{company.email}}</p>
    </div>
    <div class="company-info-box">
      <h3>
        <span class="fa fa-globe"></span>
        <span class="info-title"> Company Website </span>
      </h3>
      <a href="{{company.website}}">{{company.website}}</a>
    </div>
    <div class="company-detail-box">
      <h3>
        <span>Product Categories</span>
      </h3>
      <p>TODO</p>
    </div>
    <div class="company-detail-box company-two-col-box">
      <h3>
        <span>{{user.activeMode}} details</span>
      </h3>
      <div class="col-xs-12 col-sm-6 company-col-left">
        <div class="company-col-detail">
          <p class="detail-header">Type of Company</p>
          <p class="detail-body">TODO</p>
        </div>
        <div class="company-col-detail">
          <p class="detail-header">Total # of Employees</p>
          <p class="detail-body">{{company.employeeCount}}</p>
        </div>
        <div class="company-col-detail">
          <p class="detail-header">Industry</p>
          <p class="detail-body">{{company.industry}}</p>
        </div>
        <div class="company-col-detail">
          <p class="detail-header">Languages</p>
          <p class="detail-body">TODO</p>
        </div>
        <div class="company-col-detail" >
          <p class="detail-header">DUNS Number</p>
          <p ng-switch="{{user.activeMode}}">
            <p class="detail-body" ng-switch-when="supplier">{{supplier.duns}}</p>
            <p class="detail-body" ng-switch-when="buyer">{{buyer.duns}}</p>
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 company-col-right">
        <div class="company-col-detail">
          <p class="detail-header">Links</p>
          <a href="{{company.website}}">Our Website</a>
        </div>
      </div>
    </div>



  </div>
  <div class="col-sm-12 col-md-7 col-lg-8 pull-right hidden-xs">
    <div class="profile-nav">
      <ul>
        <div class="nav-left">
          <li>About</li>
        </div>
        <div class="nav-right">
          <li><a ui-sref="view_company_profile.view_company_description">Company Descriptions</a></li>
          <li><a ui-sref="view_company_profile.view-company_interests">Products of Interest</a></li>
        </div>
      </ul>
    </div>
    <div ui-view></div>
  </div>
</div>
