.snackbar {
  z-index: 9999;
  position: fixed;
  padding: 15px;
  min-width: 288px;
  max-width: 568px;
  overflow: hidden;
  opacity: 0;
  white-space: nowrap;
  transition: 200ms ease-in-out all;
  -webkit-transition: 200ms ease-in-out all;
  -moz-transition: 200ms ease-in-out all;
  -ms-transition: 200ms ease-in-out all;
  -o-transition: 200ms ease-in-out all;

  &.snackbar-bottom-left {
    bottom: 0;
    left: 24px;
  }

  &.snackbar-bottom-right {
    bottom: 0;
    right: 24px;
  }

  &.snackbar-top-left {
    top: 0;
    left: 24px;
  }

  &.snackbar-top-right {
    top: 0;
    right: 24px;
  }

  &.snackbar-pop-up {
    opacity: 1;

    &.snackbar-bottom-left,
    &.snackbar-bottom-right {
      bottom: 24px;
    }

    &.snackbar-top-left,
    &.snackbar-top-right {
      top: 24px;
    }
  }

  &.snackbar-pop-out {
    opacity: 0;

    &.snackbar-bottom-left,
    &.snackbar-bottom-right {
      bottom: 24px;
    }

    &.snackbar-top-left,
    &.snackbar-top-right {
      top: 24px;
    }
  }

  .snackbar-message {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 300;
  }
}

@media (max-width: 768px) {
  .snackbar {
    max-width: 100%;
    width: 100%;
    white-space: normal;

    &.snackbar-bottom-left,
    &.snackbar-bottom-right,
    &.snackbar-top-left,
    &.snackbar-top-right {
      left: 0;
      right: 0;
    }

    &.snackbar-pop-up {
      &.snackbar-bottom-left,
      &.snackbar-bottom-right {
        bottom: 0;
      }

      &.snackbar-top-left,
      &.snackbar-top-right {
        top: 0;
      }
    }

    &.snackbar-pop-out {
      &.snackbar-bottom-left,
      &.snackbar-bottom-right {
        bottom: 0;
      }

      &.snackbar-top-left,
      &.snackbar-top-right {
        top: 0;
      }
    }
    .snackbar-message {
      white-space: normal;
      font-size: 12px;
    }
  }
}