#user_account_settings {

  font-family: "Roboto", sans-serif;

  .main_row {
    margin-left: 95px;
  }
  .headerRow {
    background-color: $color-gray-alt-dark;
    color: $color-white;

    h4 {
      padding: 20px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 300;
      font-size: 12px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      background: $color-gray-alt-dark;
      color: $color-white;
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }

  .updateForm {
    background-color: #edece7;
    padding: 20px;
    input {
      border: 0px none;
      margin: 7px 0px;
      width: 100%;
      height: 25px;
      font-size: 11px;
      padding: 0px 7px;
      font-weight: 300;
    }
    h5 {
      font-family: 'Montserrat', sans-serif;
      font-weight: 300;
      font-size: 11px;
      letter-spacing: 0.06em;
      padding-top: 0px;
      margin-top: 0px;
      margin-bottom: 4px;
    }
    
  }

  .continueButton {
    float: right;
    background-color: $color-white;
    border: 0px none;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    top: 15px;
    right: 15px;
    font-weight: 700;
    letter-spacing: 0.04em;
    margin-top: 10px;

    span {
      color: #5cc56c;
    }
  }

  .navPanel {
    ul {
      list-style-type: none;
      padding-left: 0px;
    }
    .rightSecBox {
      float: left;
      height: 45px;
      width: 45px;
      text-align: center;
      background-color: #F3F2F0;
      margin-right: 10px;
    }
    a {
      line-height: 45px;
      height: 45px;
      display: block;
      background-color: #edece7;
      font-size: 10px;
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;
      letter-spacing: 0.06em;
    }
    li {
      height: 45px;
    }
    li:hover {
      span {
        color: $color-white;
      }
      .rightSecBox {
        background-color: #ffc65c;
      }
      a {
        text-decoration: none;
        background-color: $color-orange-primary;
        color: $color-white;
      }
    }
    span {
      line-height: 45px;
      color: #b3b3b3;
    }
  }


}