#user_account_settings {
  .user-profile {
    height: 150px;
    width: 150px;
    background-color: transparentize($color-black, 0.94);

    img {
      max-height: 150px;
      max-width: 150px;
      margin: 0 auto;
      display: block;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}