@import '../globals/colors';
@import '../globals/typography';
@import '../components/content_panel';
@import '../components/lists';
@import '../components/nav_panel';
@import '../components/mobile_nav';
@import '../components/buttons';
@import '../components/inputs';
@import '../components/profile_image';
@import '../shared/snackbar';

@import '../shared/marketing_header';
@import '../shared/dashboard_header';
@import '../shared/dropdown_header';

@import '../main/index';
@import 'signup';
@import 'wizard_header';
@import 'wizard';

body {
  background-color: $color-white;
  padding-bottom: 20px;
}

.container {
  padding-bottom: 15px;
}
