$color-orange-primary: #feac00;
$color-orange-alt-primary: #FD9237;

$color-green-primary: #5cc672;

$color-blue-primary: #3888CE;

$color-gray-dark: #0A0A0A;
$color-gray-alt-dark: #333132;
$color-gray-primary: #5c5c5c;
$color-gray-light: #7f7f7f;
$color-gray-alt-light: #c3c3c3;
$color-white: #ffffff;
$color-black: #000000;

$color-tan-primary: #f5f4f2;
$color-tan-alt-primary: #EEECE9;