$color-orange-primary: #feac00;

$color-green-primary: #5cc672;

$color-gray-dark: #231f20;
$color-gray-primary: #5c5c5c;
$color-gray-light: #7f7f7f;
$color-gray-alt-light: #e6e7e8;
$color-white: #ffffff;
$color-black: #000000;