
<div class="col-sm-8">
  <div class="panel-content">
    <div class="panel-heading">
      <h5>{{user.activeMode}} Information</h5>
    </div>
    <div class="panel-body">
      <form class="form">
        <div class="row form-body">

          <div class="col-md-6">
            <div class="form-group">
              <label for="">Logo Image</label>
              <img ng-src="http://res.cloudinary.com/huewqecyr/image/upload/v1404414400/dhemkcar246mvbm8wmcs.jpg">
              <input type="file">
              <input type="submit" ng-model="Update Logo Image">
            </div>

            <div class="form-group">
              <label for="">Type of Company</label>
              <input type="text" placeholder="City" ng-model=""><!-- change to dropdown -->
            </div>

            <div class="form-group">
              <label for="">Contact Name</label>
              <input type="text" id="" placeholder="Contact Name" ng-model="">
            </div>

            <div class="form-group">
              <label for="">Contact Position</label>
              <input type="text" id="" placeholder="Contact Position" ng-model="">
            </div>

            <div class="form-group">
              <label for="">Contact Email</label>
              <input type="text" id="" placeholder="Contact Email" ng-model="">
            </div>

            <div class="form-group"><!-- SUPPLIER ONLY -->
              <label for="">Private Labeler</label>
              <label for="private-labeler" class="checkbox-label"><input type="checkbox" id="private-labeler" ng-model="">Private labeling</label>
            </div>

            <div class="form-group"><!-- SUPPLIER ONLY -->
              <label for="">GSA Approved Supplier</label>
              <label for="" class="checkbox-label"><input type="checkbox" id="" ng-model="">GSA Approved Supplier</label>
            </div>

            <div class="form-group">
              <label for="">DUNS Number</label>
              <input type="text" id="" placeholder="DUNS Number" ng-model="">
            </div>

            <div class="form-group"><!-- SUPPLIER ONLY -->
              <label for="">CAGE Code</label>
              <input type="text" id="" placeholder="CAGE Code" ng-model="">
            </div>

            <div class="form-group"><!-- BUYER ONLY -->
              <label for="">Secondary Location</label>
              <input type="text" placeholder="Location Title" ng-model="">
              <input type="text" placeholder="Select Location Type" ng-model=""><!-- change to dropdown -->
              <input type="text" placeholder="Select Country" ng-model=""><!-- change to dropdown -->
              <input type="text" placeholder="Select Province/State" ng-model=""><!-- change to dropdown -->
              <input type="text" placeholder="City" ng-model="">
            </div>

            <div class="form-group"><!-- BUYER ONLY -->
              <label for="">Nearest Port</label>
              <input type="text" placeholder="City" ng-model="">
              <input type="text" placeholder="Select Country" ng-model=""><!-- change to dropdown -->
              <input type="text" placeholder="Select Province/State" ng-model=""><!-- change to dropdown -->
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="">DBA Name</label>
              <input type="text" placeholder="Alternate Company Name" ng-model="">
            </div>

            <div class="form-group">
              <label for="">Language*</label>
              <input type="text" placeholder="Select Language" ng-model=""><!-- change to dropdown -->
            </div>

            <div class="form-group">
              <label for="">Accepted Currencies*</label>
              <div class="col-md-6">
                <label for="" class="checkbox-label"><input type="checkbox" id="" ng-model="">USD</label>
                <label for="" class="checkbox-label"><input type="checkbox" id="" ng-model="">JPY</label>
                <label for="" class="checkbox-label"><input type="checkbox" id="" ng-model="">AUD</label>
                <label for="" class="checkbox-label"><input type="checkbox" id="" ng-model="">CAD</label>
                <label for="" class="checkbox-label"><input type="checkbox" id="" ng-model="">CNY</label>
                <label for="" class="checkbox-label"><input type="checkbox" id="" ng-model="">SEK</label>
                <label for="" class="checkbox-label"><input type="checkbox" id="" ng-model="">HKD</label>
              </div>
              <div class="col-md-6">
                <label for="" class="checkbox-label"><input type="checkbox" id="" ng-model="">EUR</label>
                <label for="" class="checkbox-label"><input type="checkbox" id="" ng-model="">GBP</label>
                <label for="" class="checkbox-label"><input type="checkbox" id="" ng-model="">CHF</label>
                <label for="" class="checkbox-label"><input type="checkbox" id="" ng-model="">MXN</label>
                <label for="" class="checkbox-label"><input type="checkbox" id="" ng-model="">NZD</label>
                <label for="" class="checkbox-label"><input type="checkbox" id="" ng-model="">RUB</label>
                <label for="" class="checkbox-label"><input type="checkbox" id="" ng-model="">SGD</label>
              </div>
            </div>

            <div class="form-group">
              <label for="">Accepted Payment Terms*</label>
              <div class="col-md-6">
                <label for="" class="checkbox-label"><input type="checkbox" id="" ng-model="">MoneyGram</label>
                <label for="" class="checkbox-label"><input type="checkbox" id="" ng-model="">T/T</label>
                <label for="" class="checkbox-label"><input type="checkbox" id="" ng-model="">Escrow</label>
                <label for="" class="checkbox-label"><input type="checkbox" id="" ng-model="">D/P D/A</label>
              </div>
              <div class="col-md-6">
                <label for="" class="checkbox-label"><input type="checkbox" id="" ng-model="">Western Union</label>
                <label for="" class="checkbox-label"><input type="checkbox" id="" ng-model="">Credit Card</label>
                <label for="" class="checkbox-label"><input type="checkbox" id="" ng-model="">PayPal</label>
                <label for="" class="checkbox-label"><input type="checkbox" id="" ng-model="">Cash</label>
              </div>
            </div>

            <div class="form-group">
              <label for="">Accepted Delivery Terms</label>
              <div class="col-md-6">
                <label for="" class="checkbox-label"><input type="checkbox" id="" ng-model="">EXW</label>
                <label for="" class="checkbox-label"><input type="checkbox" id="" ng-model="">CPT</label>
                <label for="" class="checkbox-label"><input type="checkbox" id="" ng-model="">DAT</label>
                <label for="" class="checkbox-label"><input type="checkbox" id="" ng-model="">DDP</label>
                <label for="" class="checkbox-label"><input type="checkbox" id="" ng-model="">FOB</label>
                <label for="" class="checkbox-label"><input type="checkbox" id="" ng-model="">CIF</label>
              </div>
              <div class="col-md-6">
                <label for="" class="checkbox-label"><input type="checkbox" id="" ng-model="">FCA</label>
                <label for="" class="checkbox-label"><input type="checkbox" id="" ng-model="">CIP</label>
                <label for="" class="checkbox-label"><input type="checkbox" id="" ng-model="">DAP</label>
                <label for="" class="checkbox-label"><input type="checkbox" id="" ng-model="">FAS</label>
                <label for="" class="checkbox-label"><input type="checkbox" id="" ng-model="">CFR</label>
                <label for="" class="checkbox-label"><input type="checkbox" id="" ng-model="">Custom</label>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label for="">Enter Product Categories of Interest</label>
              <input type="text" placeholder="Begin typing to search categories..." ng-model=""><!-- change to dropdown -->
              <input type="text" placeholder="Begin typing to search categories..." ng-model=""><!-- change to dropdown -->
              <input type="text" placeholder="Begin typing to search categories..." ng-model=""><!-- change to dropdown -->
            </div>
          </div>

        </div>
      </form>
    </div>
  </div>

  <button class="btn btn-continue" type="submit">
    Save
    <span class="fa fa-check"></span>
  </button>
</div>
