
<div class="col-sm-8 edit-company-descriptions">
  <div class="panel-content">
    <div class="panel-heading">
      <h5>Descriptions</h5>
    </div>
    <div class="panel-body">
      <form class="form">
        <div class="row form-body">

          <div class="form-group">
            <label for="">Company Description</label>
            <textarea name="" id="" rows="5">Company Description</textarea>
          </div>

          <div class="form-group">
            <label for="">Products Overview</label>
            <textarea name="" id="" rows="5">Products Overview</textarea>
          </div>

          <label>Statements of Responsibility</label>

          <div class="form-group">
            <label for="">Environmental Sustainability</label>
            <textarea name="" id="" rows="5">Environmental Sustainability</textarea>
          </div>

          <div class="form-group">
            <label for="">Quality Sourcing</label>
            <textarea name="" id="" rows="5">Quality Sourcing</textarea>
          </div>

          <div class="form-group">
            <label for="">Workplace Safety</label>
            <textarea name="" id="" rows="5">Workplace Safety</textarea>
          </div>

          <div class="form-group">
            <label for="">Labor Education &amp; Training</label>
            <textarea name="" id="" rows="5">Labor Education &amp; Training</textarea>
          </div>

          <div class="form-group">
            <label for="">Community Reinvestment</label>
            <textarea name="" id="" rows="5">Community Reinvestment</textarea>
          </div>

        </div>
      </form>
    </div>
  </div>

  <button class="continue-button" type="submit">
    Save
    <span class="glyphicon glyphicon-ok"></span>
  </button>
</div>
