<div>

  <div class="row main-row">
    <div class="col-sm-4 nav-panel">
      <ul>
        <li pc-nav="company_details">
          <div class="left-icon">
            <span class="glyphicon glyphicon-cog"></span>
          </div>
          <a ui-sref="edit_company_profile.company_details">Company Details</a>
        </li>

        <li pc-nav="company_information">
          <div class="left-icon">
            <span class="glyphicon glyphicon-cog"></span>
          </div>
          <a ui-sref="edit_company_profile.company_information">[activeMode] Information</a>
        </li>

        <li pc-nav="production_details">
          <div class="left-icon">
            <span class="glyphicon glyphicon-cog"></span>
          </div>
          <a ui-sref="edit_company_profile.production_details">Production Details</a>
        </li>

        <li pc-nav="descriptions">
          <div class="left-icon">
            <span class="glyphicon glyphicon-cog"></span>
          </div>
          <a ui-sref="edit_company_profile.descriptions">Descriptions</a>
        </li>

        <li pc-nav="preferences">
          <div class="left-icon">
            <span class="glyphicon glyphicon-cog"></span>
          </div>
          <a ui-sref="edit_company_profile.preferences">Preferences</a>
        </li>

        <li pc-nav="social_media">
          <div class="left-icon">
            <span class="glyphicon glyphicon-cog"></span>
          </div>
          <a ui-sref="edit_company_profile.social_media">Social Media</a>
        </li>

        <li pc-nav="photos">
          <div class="left-icon">
            <span class="glyphicon glyphicon-cog"></span>
          </div>
          <a ui-sref="edit_company_profile.photos">Photos</a>
        </li>
      </ul>
    </div>

    <div ui-view=""></div>
  </div>

</div>