
<h5>Edit Buyer Profile</h5>
<div class="row main-row">
  <div class="col-sm-4">
    <ul class="nav-panel">
      <li pc-nav="company_details">
        <a ui-sref="edit_company_profile.company_details">
          <div class="left-icon">
            <i class="fa fa-users"></i>
          </div>
          <h6>Company Details</h6>
        </a>
      </li>
      <li pc-nav="company_information">
        <a ui-sref="edit_company_profile.company_information">
          <div class="left-icon">
            <i class="fa fa-info-circle"></i>
          </div>
          <h6>{{user.activeMode()}} Information</h6>
        </a>
      </li>
      <li pc-nav="production_details" ng-show="user.isSupplierMode()">
        <a ui-sref="edit_company_profile.production_details">
          <div class="left-icon">
            <i class="fa fa-wrench"></i>
          </div>
          <h6>Production Details</h6>
        </a>
      </li>
      <li pc-nav="descriptions">
        <a ui-sref="edit_company_profile.descriptions">
          <div class="left-icon">
            <i class="fa fa-list-alt"></i>
          </div>
          <h6>Descriptions</h6>
        </a>
      </li>
      <li pc-nav="preferences">
        <a ui-sref="edit_company_profile.preferences">
          <div class="left-icon">
            <i class="fa fa-cog"></i>
          </div>
          <h6>Preferences</h6>
        </a>
      </li>
      <li pc-nav="social_media">
        <a ui-sref="edit_company_profile.social_media">
          <div class="left-icon">
            <i class="fa fa-thumbs-o-up"></i>
          </div>
          <h6>Social Media</h6>
        </a>
      </li>
      <li pc-nav="photos">
        <a ui-sref="edit_company_profile.photos">
          <div class="left-icon">
            <i class="fa fa-picture-o"></i>
          </div>
          <h6>{{user.activeMode()}} Photos</h6>
        </a>
      </li>
    </ul>
  </div>
  <div ui-view></div>
</div>
