
<div class="col-sm-8">
  <div class="panel-content">
    <div class="panel-heading">
      <h5>Preferences</h5>
    </div>
    <div class="panel-body">
      <form class="form">
        <div class="row form-body">

          <div class="col-md-6">
            <div class="form-group">
              <label for="">Preferred {{user.activeMode()}} Type*</label>
              <input type="text" placeholder="Preferred {{user.activeMode()}} Type*" ><!-- change to dropdown -->
            </div>

            <div class="form-group">
              <label for="">Preferred {{user.activeMode()}} Language</label>
              <input type="text" placeholder="Preferred {{user.activeMode()}} Language" ><!-- change to dropdown -->
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="">Preferred {{user.activeMode()}} Location</label>
              <input type="text" placeholder="Preferred {{user.activeMode()}} Location" ><!-- change to dropdown -->
            </div>
          </div>

        </div>
      </form>
    </div>
  </div>

  <button class="btn btn-continue" type="submit">
    Save
    <span class="glyphicon glyphicon-ok"></span>
  </button>
</div>
