
<div class="col-sm-8">
  <div class="panel-content">
    <div class="panel-heading">
      <h5>Social Outlets</h5>
    </div>
    <div class="panel-body">
      <form class="form">
        <div class="row form-body">
      
          <div class="col-md-6">
            <div class="form-group">
              <label for="">Facebook</label>
              <div class="input-group"><div class="input-group-addon">facebook.com/<input type="text" placeholder="Facebook" ng-model=""></div></div>
            </div>

            <div class="form-group">
              <label for="">Twitter</label>
              <div class="input-group"><div class="input-group-addon">twitter.com/<input type="text" placeholder="Twitter" ng-model=""></div></div>
            </div>

            <div class="form-group">
              <label for="">Google+</label>
              <div class="input-group"><div class="input-group-addon">plus.google.com/+<input type="text" placeholder="Google" ng-model=""></div></div>
            </div>

            <div class="form-group">
              <label for="">LinkedIn</label>
              <div class="input-group"><div class="input-group-addon">linkedin.com/company/<input type="text" placeholder="LinkedIn" ng-model=""></div></div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="">Pinterest</label>
              <div class="input-group"><div class="input-group-addon">pinterest.com/<input type="text" placeholder="Pinterest" ng-model=""></div></div>
            </div>

            <div class="form-group">
              <label for="">Instagram</label>
              <div class="input-group"><div class="input-group-addon">instagram.com/<input type="text" placeholder="Instagram" ng-model=""></div></div>
            </div>

            <div class="form-group">
              <label for="">Tumblr</label>
              <div class="input-group"><div class="input-group-addon">Tumblr<input type="text" placeholder="Tumblr" ng-model=""></div></div>
            </div>
          </div>

        </div>
      </form>
    </div>
  </div>

  <button class="continue-button" type="submit">
    Save
    <span class="glyphicon glyphicon-ok"></span>
  </button>
</div>
