
<div class="row company-profile">
  <div class="col-sm-12 col-md-4">
    <!--IMAGE PLACEHOLDER-->
    <div class="company-header">
      <h2>
        <span>buyer or supplier...</span>
      </h2>
      <h1>company name...</h1>
    </div>
    <div class="company-info-box company-business-address">
      <h3>
        <i class="fa fa-fw fa-map-marker"></i>
        <span class="info-title">Official Business Address</span>
      </h3>
      <p>info...</p>
      <p>info...</p>
      <p>info...</p>
      <p>info...</p>
      <p>info...</p>
    </div>
    <div class="company-info-box">
      <h3>
        <i class="fa fa-fw fa-phone"></i>
      </h3>
      <p>Telephone #...</p>
    </div>
    <div class="company-info-box">
      <h3>
        <i class="fa fa-fw fa-location-arrow"></i>
        <span class="info-title"> Company Email Address </span>
      </h3>
      <p>Email...</p>
    </div>
    <div class="company-info-box">
      <h3>
        <i class="fa fa-fw fa-location-arrow"></i>
        <span class="info-title"> Company Website </span>
      </h3>
      <p>Website...</p>
    </div>
    <div class="company-detail-box">
      <h3>
        <span>Product Categories</span>
      </h3>
      <p>Water Treatment</p>
    </div>
    <div class="company-two-col-box">
      <h3>
        <span>Buyer or Suppliear Deets.....</span>
      </h3>
      <div class="company-col-left">
        <div class="company-col-detail">
          <p class="detail-header">Type of Company</p>
          <p class="detail-body">buyer or supplier...</p>
        </div>
        <div class="company-col-detail">
          <p class="detail-header">Total # of Employees</p>
          <p class="detail-body">number....</p>
        </div>
        <div class="company-col-detail">
          <p class="detail-header">Industry</p>
          <p class="detail-body">industry...</p>
        </div>
        <div class="company-col-detail">
          <p class="detail-header">Languages</p>
          <p class="detail-body">language.....</p>
        </div>
        <div class="company-col-detail">
          <p class="detail-header">DUNS Number</p>
          <p class="detail-body">number....</p>
        </div>
      </div>
      <div class="company-col-right">
        <div class="company-col-detail">
          <p class="detail-header">Links</p>
          <p class="detail-body">link to website...</p>
        </div>
      </div>
    </div>



  </div>
  <div class="col-sm-12 col-md-7 col-lg-8 pull-right hidden-xs">
    <div class="profile-nav">
      <ul>
        <div class="nav-left">
          <li>About</li>
        </div>
      </ul>
    </div>
    <!--PLACEHOLDER for dynamic content-->
  </div>
</div>
