
<div class="col-sm-8">
  <div class="panel-content">
    <div class="panel-heading">
      <h5>Basic Company Details</h5>
    </div>
    <div class="panel-body">
      <form class="form">
        <div class="row form-body">

          <div class="col-md-6">
            <div class="form-group">
              <label for="">Company Name*</label>
              <input type="text" id="companyName" placeholder="" ng-model="company.name">
            </div>

            <div class="form-group">
              <label for="">Company Phone*</label>
              <div class="row">
                <div class="col-md-4">
                  <input type="text" placeholder="Country Code*" ng-model="company.phoneNumberCountryCode">
                </div>
                <div class="col-md-8">
                  <input type="text" placeholder="Phone Number*" ng-model="company.phoneNumber">
                </div>
              </div>
              <div class="row">
                <div class="col-md-8 col-md-offset-4">
                  <input type="text" placeholder="Ext. Number" ng-model="company.phoneExtension">
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="">Company Fax</label>
              <div class="row">
                <div class="col-md-4">
                  <input type="text" placeholder="Country Code" ng-model="company.faxCountryCode">
                </div>
                <div class="col-md-8">
                  <input type="text" placeholder="Fax Number" ng-model="company.faxNumber">
                </div>
              </div>
              <div class="row">
                <div class="col-md-8 col-md-offset-4">
                  <input type="text" placeholder="Ext. Number" ng-model="company.faxExtension">
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="email">Company Email Address*</label>
              <input type="text" id="email" placeholder="info@mycompanyname.com" ng-model="company.email">
            </div>

            <div class="form-group">
              <label for="website">Official Company Website</label>
              <input type="text" id="website" placeholder="www.mycompanyname.com" ng-model="company.website">
            </div>

            <div class="form-group">
              <label for="industry">Industry*</label>
              <input type="text" id="industry" placeholder="dropdown!" ng-model=""><!-- change to dropdown -->
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="">Official Business Address*</label>
              <input type="text" placeholder="Address Line #1" ng-model="">
              <input type="text" placeholder="Address Line #2" ng-model="">
              <input type="text" placeholder="Select Country" ng-model=""><!-- change to dropdown -->
              <input type="text" placeholder="Select Province/State" ng-model=""><!-- change to dropdown -->
              <div class="row">
                <div class="col-md-4">
                  <input type="text" placeholder="City" ng-model=""><!-- change to dropdown -->
                </div>
                <div class="col-md-8">
                  <input type="text" placeholder="Postal Code" ng-model="">
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="">Is the above address a headquarters?</label>
              <label for="is-hq" class="checkbox-label"><input type="checkbox" id="is-hq" placeholder="" ng-model="">Yes; please copy address below.</label>
            </div>

            <div class="form-group">
              <label for="">Company Headquarters Address*</label>
              <input type="text" placeholder="Address Line #1" ng-model="">
              <input type="text" placeholder="Address Line #2" ng-model="">
              <input type="text" placeholder="Select Country" ng-model=""><!-- change to dropdown -->
              <input type="text" placeholder="Select Province/State" ng-model=""><!-- change to dropdown -->
              <div class="row">
                <div class="col-md-4">
                  <input type="text" placeholder="City" ng-model=""><!-- change to dropdown -->
                </div>
                <div class="col-md-8">
                  <input type="text" placeholder="Postal Code" ng-model="">
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="employeeCount">Total Number of Employees*</label>
              <input type="text" id="employeeCount" placeholder="dropdown!" ng-model=""><!-- change to dropdown -->
            </div>
          </div>
        </div>
      </form>
  </div>

  <button class="btn btn-continue" type="submit">
    Save
    <span class="fa fa-check"></span>
  </button>
</div>
