
<div class="col-sm-8">
  <div class="panel-content">
    <div class="panel-heading">
      <h5>Production Details</h5>
    </div>
    <div class="panel-body">
      <form class="form">
        <div class="row form-body">

          <div class="col-md-6">
            <div class="form-group">
              <label for="">Annual Sales Value*</label>
              <input type="text" placeholder="Select Value" ng-model=""><!-- change to dropdown -->
            </div>

            <div class="form-group">
              <label for="">Total Factory Size</label>
              <input type="text" placeholder="Select Factory Size" ng-model=""><!-- change to dropdown -->
            </div>

            <div class="form-group">
              <label for="">Total Quality Control Staff</label>
              <input type="text" placeholder="Select Total Quality Control Staff" ng-model="">
            </div>

            <div class="form-group">
              <label for="">Nearest Port</label>
              <input type="text" placeholder="City" ng-model="">
              <input type="text" placeholder="Select Country" ng-model=""><!-- change to dropdown -->
              <input type="text" placeholder="Select Province/State" ng-model=""><!-- change to dropdown -->
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="">Secondary Location</label>
              <input type="text" placeholder="Location Title" ng-model="">
              <input type="text" placeholder="Select Location Type" ng-model=""><!-- change to dropdown -->
              <input type="text" placeholder="Select Country" ng-model=""><!-- change to dropdown -->
              <input type="text" placeholder="Select Province/State" ng-model=""><!-- change to dropdown -->
              <input type="text" placeholder="City" ng-model="">
            </div>
          </div>

        </div>
      </form>
    </div>
  </div>

  <button class="btn btn-continue" type="submit">
    Save
    <span class="fa fa-check"></span>
  </button>
</div>
