#public_view_header {
  .navbar-default {
    background-color: white;
    border-bottom: 3px solid #e7e7e7;
    margin-bottom: 20px;
  }
  .navbar-header {
    float: left;
  }
  .createPill a {
    padding: 3px 20px;
    margin: 5px 0 0 15px;
    border: 2px solid #fbac27;
    border-radius: 30px;
    font-size: 12px;
    letter-spacing: 0.04em;
    font-weight: 400;
    font-family: Montserrat,sans-serif;
  }
  .createPill a:hover {
    color: #fff;
    background: #fbac27;
    text-decoration: none;
  }
  .edit_profile_text {
    color: #777;
    font-size: 12px;
    font-family: Montserrat,sans-serif;

  }
  .edit_profile_text:hover {
    color: #333;
    text-decoration: none;
  }
  ul {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
