
<div class="row dashboard">
  <div class="col-xs-4">

    <div class="row user-profile">
      <div class="col-xs-4">
        <img ng-src="{{user.image}}"/>
      </div>
      <div class="col-xs-8">
        <h4 class="text-muted profile-name">{{user.firstName}} {{user.lastName}}</h4>
        <h5 class="company-name">{{company.name}}</h5>
        <h6 class="member-since">Procur member since {{user.createdYear}}</h6>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 sub-nav">
        <ul class="list-separator">
          <li>
            <a ui-sref="#">
              <i class="glyphicon glyphicon-cog"></i>
              Edit User Account Settings
            </a>
          </li>

          <li>
            <a ui-sref="#">
              <i class="glyphicon glyphicon-new-window"></i>
              View My Company Profile
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 external-links">
        <ul class="list-titled">
          <li class="list-title">Company</li>
          <li><a href="https://procur.com/earlyaccess">Early Access</a></li>
          <li><a href="https://procur.com/features">Upcoming Features</a></li>
          <li><a href="https://procur.com/pricing">Membership & Pricing</a></li>
          <li><a href="https://procur.com/about">About Procur</a></li>
        </ul>
      </div>
      <div class="col-xs-6 external-links">
        <ul class="list-titled">
          <li class="list-title">Help & Support</li>
          <li><a href="https://procur.com/faq">FAQ</a></li>
          <li><a href="https://procur.com/contact">Contact Us</a></li>
          <li><a href="https://procur.com/support">Support Topics</a></li>
          <li><a href="mailto:support@procur.com">Email Support</a></li>
        </ul>
      </div>
    </div>

  </div>
  <div class="col-xs-5">
    <div class="panel-content action-items">
      <div class="panel-heading">
        <h5>My Procur Action Items</h5>
      </div>
      <div class="panel-body">
        <p class="lead">Welcome to Procur Early Access!</p>
        <p>
          We're inviting select users to register with Procur before opening up our full platform later this summer. During Early Access, account holders will be able to create company profiles, organize products and RFQs, and start engaging with our online community. When we launch our full platform, Early Access suppliers will be the first to connect with global retailers, resellers and distributors looking to fill sourcing requirements.
        </p>
        <a href="https://procur.com/earlyaccess" class="early-access">Learn more about early access</a>
      </div>
      <div class="panel-footer">
        <ul class="list-checklist">
          <li ng-repeat="item in actionItems | filter:activeModeFilter()" ng-class="{complete: item.complete, incomplete: !item.complete}">
            <span ng-switch="item.complete">
              <span ng-switch-when="false">
                <a ui-sref="{{item.link}}">
                  <i class="glyphicon glyphicon-unchecked"></i>
                  <h5>{{item.action}}</h5>
                </a>
              </span>
              <span ng-switch-when="true">
                <i class="glyphicon glyphicon-check"></i>
                <h5>{{item.action}}</h5>
              </span>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-xs-2">

  </div>
</div>
