

<div class="row">
  <div class="col-xs-12">
    <div class="panel-content">
    <div class="panel-heading">
      <h5 class="text-center">You are not a consumer product company?</h5>
    </div>
    <div class="panel-footer">
      <div class="row">
        <div class="col-xs-12">
          <p class="text-center">
            Procur helps consumer product companies sell products that are "read for retail".
          </p>

          <p class="text-center">
            If you aren't sure if you are a consumer production supplier,
            read <a href="https://procur.com/faq">some examples of consumer product companies</a>
            on our FAQ.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <a class="btn btn-lg btn-block btn-rounded btn-default">Wait - I am!</a>
        </div>
        <div class="col-sm-6">
          <!-- TODO: Need to delete the session info when this link is clicked -->
          <a class="btn btn-lg btn-block btn-rounded btn-default" href="https://procur.com">No, I'm not</a>
        </div>
      </div>

    </div>
  </div>
  </div>
</div>