
    <div class="panel-content">
      <div class="panel-heading">
        <h5 class="text-center">Set your custom link</h5>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-xs-12">
            <form class="form" novalidate>
              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group">
                    <div class="input-group">
                      <label class="sr-only" for="custom-link" >Custom Link</label>
                      <div class="input-group-addon">https://app.procur.com/companies/</div>
                      <input type="text" id="custom-link"  placeholder="YourCustomLinkHere" ng-model="handle" required  />
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-continue" type="button" ng-click="setHandle()">
      Continue
      <span class="glyphicon glyphicon-arrow-right"></span>
    </button>
