

<div class="row">
  <div class="col-xs-12">
    <div class="panel-content">
    <div class="panel-heading">
      <h5 class="text-center">Select your company type</h5>
    </div>
    <div class="panel-footer">
      <div class="row">
        <div class="col-sm-6">
          <a class="btn btn-lg btn-block btn-rounded btn-default">Buyer</a>
        </div>
        <div class="col-sm-6">
          <a class="btn btn-lg btn-block btn-rounded btn-default" ui-sref="registration.finished_product">Supplier</a>
        </div>
      </div>

    </div>
  </div>
  </div>
</div>