
<div class="panel-content">
  <div class="panel-heading">
    <h5 class="text-center">Select your company type</h5>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-sm-6">
        <button class="btn btn-lg btn-block btn-rounded btn-default" ng-click="selectType('buyer')">Buyer</button>
      </div>
      <div class="col-sm-6">
        <button class="btn btn-lg btn-block btn-rounded btn-default" ng-click="selectType('supplier')">Supplier</button>
      </div>
    </div>
  </div>
</div>