.user-header {
  background-color: #EDECE8;
  padding: 17px;

  .user-header-item {
    height: 32px;
    padding-right: 0;
    padding-left: 0;
    text-align: center;

    a {
      display: inline-block;
      vertical-align: middle;
      text-transform: lowercase;
      color: $color-gray-primary;

      i {
        color: $color-gray-primary;
      }

      &:hover, &:active, &:focus {
        text-decoration: none;
        color: $color-orange-primary;

        i {
          color: $color-orange-primary;
        }
      }
    }

    p {
      display: inline;
      margin-right: 6px;
      vertical-align: middle;
    }
  }

  .user-header-left {
    .user-header-item {
      &:first-child {
        text-align: right;
      }
      &:last-child {
        text-align: left;
      };

      a {
        &.early-access {
          background-color: #fff;
          padding: 5px 10px;
          text-transform: uppercase;
          border-radius: 4px;
          color: #777;
          font-size: 9px;
          font-weight: bold;

          &:hover, &:focus, &:active {
            text-decoration: none;
          }

        }

        .procur-logo {
          height: 26px;
          margin-top: 7px;
        }
      }
    }
  }

  .user-header-right {
    .user-header-item {
      float: right;
    }
  }
}