
  <div class="panel-content">
    <div class="panel-heading">
      <h5 class="text-center">Please verify your email address</h5>
    </div>
    <div class="panel-footer">
      <div class="row">
        <div class="col-xs-12">
          <p class="text-center">
            Please check your email - you should have a confirmation message from Procur.
            If you haven't received anything, click 'Resend Email' below.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <button class="btn btn-lg btn-block btn-rounded btn-default" ng-click="resendEmailVerification()">Resend Email</button>
        </div>
        <div class="col-sm-6">
          <a class="btn btn-lg btn-block btn-rounded btn-default" ng-click="alreadyVerified()">I've already verified</a>
        </div>
      </div>
    </div>
  </div>