<div id="user_account_settings">

  <div class="row main-row">
    <div class="col-sm-4 nav-panel">
      <ul>
        <li pc-nav="update_settings">
          <div class="left-icon">
            <span class="glyphicon glyphicon-cog"></span>
          </div>
          <a ui-sref="user_account_settings.update_settings">Update Settings</a>
        </li>

        <li pc-nav="update_password">
          <div class="left-icon">
            <span class="glyphicon glyphicon-cog"></span>
          </div>
          <a ui-sref="user_account_settings.update_password">Change Password</a>
        </li>
      </ul>
    </div>


    <div ui-view=""></div>



  </div>
</div>