
<div class="col-sm-8">
  <div class="panel-content">
    <div class="panel-heading">
      <h5>Contact Information</h5>
    </div>
    <div class="panel-body">
      <form name="userForm" class="form" novalidate>
        <div class="row form-body">
          <div class="col-md-6">
            <div class="form-group">
              <label for="firstName">Contact Name*</label>
              <input type="text" name="firstName" id="firstName" placeholder="First" ng-model="user.firstName" pc-validation='required'>
              <input type="text" name="lastName" id="lastName" placeholder="Last" ng-model="user.lastName" pc-validation="url" >

            </div>
            <div class="form-group">
              <label for="emailAddress">Current Email Address</label>
              <input id="emailAddress" type="email" placeholder="Current Email" ng-model="user.email" readonly>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
              <label for="newEmailAddress">Update Email Address</label>

              <input type="email" name="email" ng-model="user.email" placeholder="Enter new Email" pc-validation="email">
              <input type="email" name="email_c" ng-model="user.email_c" placeholder="Confirm New Address" pc-confirm="user.email">

            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="jobTitle">Job Title</label>
              <input id="jobTitle" type="text" placeholder="Job Title" ng-model="user.jobTitle">
            </div>
            <div class="form-group profile-image">
              <img ng-src="{{newProfilePicture.base64Url || user.image}}" />
            </div>
            <div class="form-group">
              <label>Update Profile Picture</label>
              <button class="btn btn-default btn-sm" pc-image-select>Choose Image</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <button class="btn btn-continue" type="button" ng-click="saveProfile()">
    Save
    <span class="glyphicon glyphicon-ok"></span>
  </button>
</div>
