<div class="col-sm-8 form-panel">
  <form class="form">
    <div class="row header-row">
      <h4>Update Password</h4>
    </div>
    <div class="row form-body">
      <div class="col-md-6">
        <div class="form-group">
          <label>Enter New Password</label>
          <input type="text" placeholder="First">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Confirm New Password</label>
          <input type="text" placeholder="Job Title">
        </div>
      </div>
    </div>
    <div class="row">
      <button class="continue-button" type="submit">Save&nbsp;&nbsp; <span class="glyphicon glyphicon-ok"></span></button>
    </div>
  </form>
</div>