<div class="col-sm-8">
  <div class="panel-content">
    <div class="panel-heading">
      <h5>Update Password</h5>
    </div>
    <div class="panel-body">
      <form class="form">
        <div class="row form-body">
          <div class="col-md-6">
            <div class="form-group">
              <label for="password">Enter New Password</label>
              <input id="password" type="password" placeholder="New Password">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="confirmPassword">Confirm New Password</label>
              <input id="confimPassword" type="password" placeholder="Confirm Password">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <button class="btn btn-continue" type="button">
    Save
    <span class="glyphicon glyphicon-ok"></span>
  </button>
</div>