<div id="user_account_settings">

  <div class="row main_row">
    <div class="col-sm-4 navPanel">
      <ul>
        <li>
          <div class="rightSecBox">
            <span class="glyphicon glyphicon-cog"></span>
          </div>
          <a ui-sref="user_account_settings.update_settings">Update Settings</a>
        </li>

        <li>
          <div class="rightSecBox">
            <span class="glyphicon glyphicon-cog"></span>
          </div>
          <a ui-sref="user_account_settings.update_password">Change Password</a>
        </li>
      </ul>
    </div>


    <div ui-view=""></div>



  </div>
</div>