<div class="user-header row">
  <div class="user-header-left">
    <div class="col-md-1 user-header-item">
      <a ui-sref="dashboard">
        <img src="/assets/images/procur.png" class="procur-logo" />
      </a>

    </div>

    <div class="col-md-1 user-header-item">
      <a href="https://procur.com/earlyaccess" class="early-access">Early Access</a>
    </div>

    <div class="col-md-2 user-header-item">
      <p class="text-lowercase">{{user.name}}</p>
      <p>·</p>
      <p>{{company.name}}</p>
    </div>
  </div>

  <div class="user-header-right">
    <div class="col-md-1 user-header-item">
      <a ui-sref="dashboard">
        <i class="glyphicon glyphicon-log-out"></i>
        Logout
      </a>
    </div>
  </div>

</div>